* {
	box-sizing: border-box;
	font-size: 2vh;
}

::placeholder {
	color: rgba(255, 255, 255, 0.548);
}

html {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0px;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	display: flex;
	align-items: center;
	background: #000000de;
}

input {
	background: transparent;
	color: white;
	outline: none;
	border: 1px solid #ffffff9c;
	border-radius: 5px;
	padding: 1.5vh;
	font-size: 2.5vh;
	font-family: "Open Sans", sans-serif;
}

button {
	font-family: "Open Sans";
	font-size: 2.5vh;
	background: #383838;
	border: 1px solid #383838;
	color: white;
	cursor: pointer;
	margin: 1vh 0vh;
	border-radius: 5px;
	padding: 1.5vh;
}

button:hover {
	background: black;
	border: 1px solid black;
}

header,
.intro {
	text-align: center;
}

h1 {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
}

.intro h3 {
	font-size: 4vh;
}

.intro h4 {
	font-size: 2.3vh;
}

.joiningPage,
#createRoomPage {
	display: none;
	max-width: 80%;
}

.landingPage,
#createRoomPage {
	align-items: center;
	flex-direction: column;
}

div#joinRoomForm {
	width: 45vh;
	display: inline-block;
	display: flex;
	flex-direction: column;
	padding: 3vh 0vh;
	position: relative;
	padding-top: 5vh;
}

.error {
	position: absolute;
	top: 0;
	color: #961010;
	font-style: italic;
}

#card {
	background: #636363;
	height: 100%;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	box-shadow: -7px 7px 5px #4a4a4a12;
}

#card_back {
	height: 100%;
	position: absolute;
	background: #cfbe88;
	border: 5px solid #d0be8c;
	border-radius: 10px;
	width: 100%;
	z-index: 1;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	display: none;
}

#card_back img {
	width: 20vh;
}

#card_back input {
	margin: 2vh auto;
}

.galleryWindow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #212020;
	border-radius: 10px;
}

.galleryWindow img {
	max-height: 100%;
	max-width: 100%;
}

.galleryNav {
	position: absolute;
	top: 0;
	padding: 2vh;
	left: 0;
}

.galleryExit {
	background: #ffffff70;
}

.galleryExit:hover {
	background: #fffffff0;
}

.chatroom_nav {
	display: flex;
	justify-content: space-between;
	padding: 1vh;
	background: #d0be8c;
	border-radius: 10px 10px 0px 0px;
}

.chatroom_nav img {
	width: 3vh;
}

.chatroom_nav img.logo {
	width: 7vh;
}

#chatroomTitle {
	font-weight: bolder;
	font-size: 3vh;
	padding: 5px;
}

#close_chat,
.icon {
	border-radius: 100%;
	display: flex;
	padding: 15px;
	margin: auto 0;
	cursor: pointer;
	transition: background 0.4s;
}

.inputIcon {
	align-self: flex-end;
	margin: inherit;
	padding: 5px;
}

#close_chat:hover,
.icon:hover {
	background: #80808059;
}

.inputPad {
	display: flex;
	width: 100%;
	border-radius: 40px;
	border: 2px solid #cfbe88;
	transition: border 0.1s;
	margin: 0 10px;
}

.inputPad:hover {
	border: 3px solid #cfbe88;
}

.icon label,
#send_message {
	cursor: pointer;
}

section#chatroom {
	overflow: auto;
	padding: 4vh 1vh;
	height: 93%;
}

#chatbox {
	height: 80%;
}

#feedback {
	padding: 0vh 2vh;
	margin-left: 1vh;
}

.announcement {
	text-align: center;
	font-style: italic;
	color: #dadada;
}

#card_bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

section#input_zone {
	padding: 20px;
	display: flex;
	justify-content: center;
	background: #636363;
	border-radius: 0px 0px 10px 10px;
}

input#message {
	width: 100%;
	border: none;
	color: white;
}

.message,
.myMessage {
	font-size: 2.5vh;
	font-family: "Open Sans", sans-serif;
	padding: 10px 20px;
	border-radius: 30px;
	margin: 1%;
	overflow-wrap: anywhere;
}

.messageImg {
	background: none;
	border-radius: 5px;
	padding: 0;
	width: 19vh;
	margin: 1%;
	border: 3px solid #00000040;
	cursor: pointer;
}

.messageImg:hover {
	border: 3px solid #00000078;
}

.thumbnail {
	position: relative;
	float: left;
	margin-bottom: 10px;
}

.removeImage {
	position: absolute;
	top: -1vh;
	left: -1vh;
	padding: 6px;
	background: #ffffffd6;
}

.removeImage:hover {
	background: #ffffff;
}

.removeSvg {
	width: 10px;
	height: 10px;
}

#thumb {
	width: 50px;
	border-radius: 5px;
}

#input_zone span {
	display: flex;
	justify-content: center;
	align-items: center;
}

.message {
	background: #1b1b1b7a;
	color: white;
}

.myMessage {
	background: black;
	color: #cfbe88;
}

.myMessageText,
.messageText {
	width: 100%;
	display: flex;
}

.myMessageText {
	justify-content: flex-end;
}

.inputIcon img {
	width: 6vh;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
}

/* Modal Content/Box */
.modal-content {
	background: linear-gradient(-118deg, #f9dc8a, #000000bd);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-content input {
	margin-bottom: 1.5vh;
}

#imagePicker,
#nameError,
#roomNameError,
#nameJoinError,
#unlockError {
	display: none;
	position: relative;
}

#enter_room_form {
	display: flex;
	flex-direction: column;
	width: 50vh;
	position: relative;
	padding-top: 5vh;
}

@media (min-width: 600px) {
	#card {
		height: 90%;
		width: 80%;
	}
}
