* {
	box-sizing: border-box;
	font-size: 2vh;
}

::placeholder {
	color: rgba(255, 255, 255, 0.548);
}

html {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0px;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	/* background: linear-gradient(45deg, black, transparent); */
	display: flex;
	align-items: center;
	/* background: #350f0f; */
	background: #4040409c;
}

input {
	background: transparent;
	color: white;
	outline: none;
	border: 1px solid #ffffff9c;
	border-radius: 5px;
	padding: 1.5vh;
	font-size: 2.5vh;
	font-family: "Open Sans", sans-serif;
}

button {
	font-family: "Open Sans";
	font-size: 2.5vh;
	padding: 5px;
}

header {
	text-align: center;
}

h1 {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
}

.intro {
	text-align: center;
}

.intro h3 {
	font-size: 4vh;
}

.intro h4 {
	font-size: 2.3vh;
}

div#joinRoomForm {
	width: 45vh;
	display: inline-block;
	display: flex;
	flex-direction: column;
	padding: 3vh 0vh;
	position: relative;
	padding-top: 5vh;
}

.error {
	position: absolute;
	top: 0;
	color: #961010;
	font-style: italic;
}

#nameError,
#roomNameError {
	display: none;
}

#card {
	height: 100%;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	box-shadow: -7px 7px 5px #4a4a4a12;
}

#card_back {
	height: 100%;
	position: absolute;
	background: #cfbe88;
	border: 5px solid #d0be8c;
	border-radius: 10px;
	width: 100%;
	z-index: 1;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	display: none;
}

#card_back img {
	width: 20vh;
}

#card_back input {
	margin: 2vh auto;
}

.chatroom_nav {
	display: flex;
	justify-content: space-between;
	padding: 1vh;
	background: #d0be8c;
	border-radius: 10px 10px 0px 0px;
}

.chatroom_nav img {
	width: 3vh;
}

.chatroom_nav img.logo {
	width: 7vh;
}

#chatroomTitle {
	font-weight: bolder;
	font-size: 3vh;
	padding: 5px;
}

#close_chat {
	border-radius: 100%;
	display: flex;
	padding: 15px;
	margin: auto 0;
	cursor: pointer;
	transition: background 0.4s;
}

#close_chat:hover {
	background: #80808059;
}

section#chatroom {
	height: 100%;
	overflow: auto;
	background: #636363;
	padding: 4vh 1vh;
}

#chatbox {
	height: 100%;
}

#feedback {
	padding: 0vh 2vh;
	margin-left: 1vh;
}

.announcement {
	text-align: center;
	font-style: italic;
}

#card_bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

section#input_zone {
	padding: 2vh;
	display: flex;
	justify-content: center;
	background: #636363;
	border-radius: 10px;
}

input#message {
	width: 80%;
	border-radius: 40px;
	border: 2px solid #cfbe88;
	color: white;
	transition: border 0.1s;
}

input#message:hover {
	border: 3px solid #cfbe88;
}

p.message,
p.myMessage {
	font-size: 2.5vh;
	font-family: "Open Sans", sans-serif;
	padding: 10px 20px;
	border-radius: 30px;
	margin: 1%;
	overflow-wrap: anywhere;
}

p.message {
	background: #1b1b1bbf;
	color: white;
}

p.myMessage {
	background: gold;
}

.myMessageText,
.messageText {
	width: 100%;
	display: flex;
}

.myMessageText {
	justify-content: flex-end;
}

#send_message {
	margin: 0px 10px;
	cursor: pointer;
}

#send_message img {
	width: 6vh;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
}

/* Modal Content/Box */
.modal-content {
	background: linear-gradient(-118deg, #f9dc8a, #000000bd);
	width: 100%;
	height: 100%;
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-content button {
	background: #383838;
	border: 1px solid #383838;
	color: white;
	cursor: pointer;
	margin: 1vh 0vh;
	border-radius: 5px;
	padding: 1.5vh;
}

.modal-content input {
	margin-bottom: 1.5vh;
}

.modal-content button:hover {
	background: black;
	border: 1px solid black;
}

#chatID {
	display: none;
}

#send_username {
	display: none;
}

#enter_room_form {
	display: flex;
	flex-direction: column;
	width: 50vh;
	position: relative;
	padding-top: 5vh;
}

@media (min-width: 600px) {
	#chatbox {
		height: 80%;
	}

	#card {
		height: 90%;
		width: 80%;
	}
}
